<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.smithdtyler.prettygoodmusicplayer"
    android:versionCode="72"
    android:versionName="3.3.3" xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19"
        tools:overrideLibrary="android.support.v13"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_pgmp_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <!-- Set the artist list to launch mode single task to prevent multiple instances -->
        <!-- This fixes an error where exiting the application just brings up another instance -->
        <!-- See https://developer.android.com/guide/topics/manifest/activity-element.html#lmode -->
        <activity
            android:name="com.smithdtyler.prettygoodmusicplayer.ArtistList"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.CATEGORY_APP_MUSIC" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.smithdtyler.prettygoodmusicplayer.SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name="com.smithdtyler.prettygoodmusicplayer.AlbumList"
            android:label="@string/title_activity_album_list"
         >
        </activity>
        <activity
            android:name="com.smithdtyler.prettygoodmusicplayer.SongList"
            android:label="@string/title_activity_song_list"
        >
        </activity>
        <activity
            android:name="com.smithdtyler.prettygoodmusicplayer.NowPlaying"
            android:label="@string/title_activity_now_playing"
            android:exported="true"
        >
        </activity>
        <!-- The service has android:exported="true" because that's needed for
        control from the notification. Not sure why it causes a warning... -->
        <service 
            android:name="com.smithdtyler.prettygoodmusicplayer.MusicPlaybackService"
            android:icon="@drawable/ic_pgmp_launcher"
            android:exported="true"
        >
        </service>
        <receiver android:name="com.smithdtyler.prettygoodmusicplayer.MusicBroadcastReceiver" 
            android:enabled="true">
            <intent-filter android:priority="2147483647" >
               <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
